html, body { 
    height:100%; 
    margin:0;
    padding:0;
  }

    body {
        background: #fff;
        color: #000;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        line-height: 1.5;
    }
    
/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 3%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  width: 80%;
  height: 100%;
  /*center all content*/
  margin: 0 auto;
}